.reference {
  padding-top: 94px;
  padding-bottom: 94px;
}

.reference-title {
  margin-bottom: 50px;
}

.reference-list {
  display: flex;
  justify-content: space-between;
}
.reference-list__item {
  position: relative;
}

.reference-list__bottom {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(47, 48, 58, 0.8);
}

.reference-list__bottom-text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white);
}
