.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;

  transition: opacity 500ms, visibility 500ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  min-height: 581px;
  background-color: var(--modal-color);
  box-shadow: var(--modal-shadow);
  border-radius: 4px;

  transform: translate(-50%, -50%);
  transition: transform 500ms;

  padding: 40px;

  .backdrop.is-hidden & {
    transform: skew(50deg) translate(1200px);
    transition: transform 500ms;
  }
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: color 255ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--accent-color);
  }
}

.modal-close__icon {
  fill: currentColor;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--modal-title-color);
}

.modal-form__label {
  display: block;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-form__input-area {
  position: relative;
  color: var(--modal-icon-color);
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  color: var(--primary-text-color);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  transition: border-color 255ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }

  &:-webkit-autofill {
    background-clip: text;
    transition: background 5000s ease-in-out;
    -webkit-text-fill-color: var(--primary-text-color);
  }
}

.modal-form__field {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 20px;
  }
}

.modal-form__input-icon {
  display: inline-block;
  position: absolute;

  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  fill: currentColor;
  transition: color 255ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form__input:focus + & {
    color: var(--accent-color);
  }
}

.modal-form__text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);

  resize: none;
  transition: border-color 255ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox__item {
  display: flex;
  width: 16px;
  height: 15px;
  border: 2px solid var(--modal-icon-color);
  border-radius: 2px;
  margin-left: 0px;
  margin-right: 5px;

  justify-content: center;
  align-items: center;

  .checkbox__input:checked + .checkbox__label & {
    background-color: var(--accent-color);
    border: none;
  }
  .checkbox__input:checked + .checkbox__label & {
    background-color: var(--accent-color);
    border: none;
  }
}

.checkbox__icon {
  fill: var(--primary-white);
}

.checkbox__link {
  color: var(--accent-color);
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.checbox {
  position: relative;
}

.checkbox__input {
  top: 12px;
  left: 22px;
}
