:root {
  --portfolio-card-gap: 30px;

  --client-logo-color: #afb1b8;
  --icon-social-link-color: #afb1b8;
  --icon-background-color: #f5f4fa;
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --accent-color: #2196f3;
  --logo-black: #000000;
  --logo-white: #ffffff;
  --primary-white: #ffffff;
  --button-hover-color: #188ce8;
  --secondary-btn-color: #f5f4fa;
  --team-section-background-color: #f5f4fa;
  --border-header-color: #ececec;
  --project-hover-text-color: #ffffff;
  --modal-color: #ffffff;
  --modal-title-color: #212121;
  --modal-icon-color: #212121;
  --describe-input-text-color: #ffffff;

  --modal-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  --button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  --team-card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  --portfolio-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
